header {
  margin-top: 0;
}
nav {
  width: 100%;
  top:0;
  left: 0;
  position: fixed;
  background-color: var(--bg-color);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  gap: var(--gap-xxs);
  padding: var(--padding-xs) var(--padding-s);
  z-index: 1000;
  margin-top: 0;
}
nav>ul {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
nav>img, nav>ul>li>button>img{
  object-fit: contain;
  width:20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

nav>ul>li>button {
    width:30px;
      cursor: pointer;
   border: none;
  background-color: transparent;
}
nav>img:hover {
  transform: rotate(360deg);
}
nav>ul>li>button>img:hover {
  transform: scale(1.1);
}
nav>ul:last-of-type>li {
  position: relative;
}
nav>ul:last-of-type>li>div{
  display:none;
  width: 0px;
}
nav>ul:last-of-type>li>div.divImgMenu {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: var(--padding-xs);
  border-radius: var(--border-radius);
 -webkit-box-shadow: 1px 2px 15px -1px #000000; 
box-shadow: 1px 2px 15px -1px #000000;
  top:40px;
  right:0;
  display: flex;
  height: 100px;
  width: 100px;
  z-index: 9;
  background-color: var(--bg-color);
}
nav> ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xxs);

}
nav> ul> li {
    padding: var(--padding-xxs);
    justify-self: center;
}
nav> ul> li>a {
  font-size: var(--font-size-l);
  transition: all 0.5s ease-in-out;
}
nav> ul> li>a:hover {
  font-size: var(--font-size-xl);
}
nav>ul:first-of-type>li:first-of-type{
  background-color: var(--inicio-button-color);
  border-radius: var(--border-radius);
  padding: var(--padding-xxs) var(--padding-xs);
}
nav>ul:first-of-type>li:first-of-type>a {
  color: var(--bg-color);
}

nav>div {
  display: flex;
  align-items: center; 
  gap: var(--gap-xxs);
  width: 70%;
  background-color: var(--input-color);
  border-radius: var(--border-radius);
  padding: var(--padding-xxs) var(--padding-xs);
}
nav>div>img {
  width: 20px;
}
nav>div>input{
border:none;
  background-color:var(--input-color);
  width: calc(100% - 20px);
}
nav>div>input:focus{
outline: none;
} 
@media (max-width: 1100px) {
nav> ul> li>a {
  font-size: var(--font-size-m);
}
nav> ul> li>a:hover {
  font-size: var(--font-size-l);
}
}

@media(max-width: 800px){
  nav img {
  width:25px;
}
  nav>div>img {
  width: 15px;
}
nav> ul> li>a {
  font-size: var(--font-size-s);
}
nav> ul> li>a:hover {
  font-size: var(--font-size-m);
}
}
@media(max-width: 700px){
  nav {
  justify-content: center;
  align-items: center;
}
nav>img {
  margin: 0px var(--margin-xs) 0px 0px;
  width: 7%;
}
  nav>ul:first-of-type, nav>ul:first-of-type>li, nav>ul:last-of-type>li:first-of-type, nav>ul:last-of-type>li:nth-last-of-type(2){
    display:none;
    width:0px;
  }
 nav>ul:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px var(--margin-xs) 0px 0px;
    width: 7%;
  }
  nav>ul:last-of-type>li:last-of-type {
  width: 100%;  
  }
nav>ul:last-of-type>li:last-of-type>img {
  margin: 0px;
  
}
  nav>div{
    width:85%;
  }
}