main {
display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: var(--gap-xxs);
  padding:var(--padding-xxs);
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: var(--gap-xs);
  box-sizing: border-box;
  overflow-x: hidden; 
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
   border-radius: var(--border-radius);
  height:100%;
  width:100%;
 }
 .card>div {
  display: flex;
  position: relative;
  flex-direction: column;
  position:relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  height:200px;
  border-radius: var(--border-radius);
  transform: translate(-50% -50%);
 }
  .card>div>p {
    margin-top: var(--margin-s);
  }
  .divInDivText{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
 }
.card>img {
width:100%;
height: calc(100% - 200px);
border-radius: var(--border-radius);
object-fit: cover;
object-position: center;
}

.divInDivText>a>button {
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding-xxs)var(--padding-xs);
  cursor: pointer;
}

.card>div>a{
  position: absolute;
  width:80px;
  border-radius: var(--border-radius-perfil);
 top: -15%;
  z-index: 5;
}
.card>div>a:hover , .profileImage:hover, .divInDivText>a, .divInDivText>a>button:hover {
  transition: all 0.5s ease-in-out;
}
.card>div>a:hover , .profileImage:hover, .divInDivText>a, .divInDivText>a>button:hover {
  transform: scale(1.05);
}
.profileImage {
    width:80px;
  border-radius: var(--border-radius-perfil);
}
.imgWrapper {
  position: relative;
  transform: translate(-50% -50%);
  width: 100%;
  height: calc(100% - 200px);
  margin: 0;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
}

div.overlay {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  z-index: 2;
  color:var(--bg-color);
}
.overlay>div {
  width: 100%;
  height: 100px;
  padding: 0px var(--padding-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.divVector{
  border-radius: var(--border-radius-perfil);
  background-color: var(--bg-vector-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 55px;
  width: 55px;
}
.divVector:last-of-type{
transition: all 0.5s ease-in-out;
cursor: pointer;
}
.divVector:last-of-type:hover {
  transform: scale(1.1);
}
.divVector:last-of-type.animado{
  animation: myAnimation 0.5s;
}
@keyframes myAnimation {
  0%   {background-color: var(--bg-vector-color)}
  25%  {background-color: #f25c5c;}
  50%  {background-color: var(--visitar-button-color)}
  75%  {background-color: #f25c5c;}
  100% {background-color: var(--bg-vector-color)}
}
.divVector> img {
  object-fit: contain;
  width: 20px;
}
.divVector> p {
 margin-block-start:4px;
 margin-block-end:4px;
 font-size: var(--font-size-xxxs);
}
.overlay>a {
  position: absolute;
  top: 50%;
    justify-self: center;
   align-self: center;
}
.overlay>a>button {
  padding: var(--padding-xxs) var(--padding-xs);
  background-color: var(--visitar-button-color);
  color: var(--bg-color);
  font-size: var(--font-size-m);
  justify-self: center;
  align-self: center;
  border-radius: var(--border-radius);
  border: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.overlay>a>button:hover{
transform: scale(1.1);
}

@media (max-width: 2000px) {
  .card>div>p {
    margin-top: var(--margin-m);
  }
   .card>div>p {
font-size: var(--font-size-xxl);
}
.divVector> p {
 font-size: var(--font-size-s);
}
}
@media (max-width: 1500px) {
  .card>div>p {
  margin-top: var(--margin-m);
font-size: var(--font-size-xl);
}

}
@media (max-width: 1450px) {
 .card>div>p {
font-size: var(--font-size-l);
}
.card>div>a{
  width:70px;
}
.profileImage {
  width:70px;
}
}
@media (max-width: 1300px) {
      main {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
@media (max-width: 1200px) {
      main {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
 .card>div>p {
    margin-top: var(--margin-m);
    font-size: var(--font-size-l);
  }
.divVector{height: 50px; width: 50px;}
.divVector>img {
  width: 16px;
}
}
@media (max-width: 450px) {
        main {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
 .card>div>p {
    margin-top: var(--margin-m);
    font-size: var(--font-size-m);
  }

}