div.overlay {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  z-index: 2;
  color:var(--bg-color);
}
.overlay>div {
  width: 100%;
  height: 100px;
  padding: 0px var(--padding-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.divVector{
  border-radius: var(--border-radius-perfil);
  background-color: var(--bg-vector-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 55px;
  width: 55px;
}
.divVector:last-of-type{
transition: all 0.5s ease-in-out;
cursor: pointer;
}
.divVector:last-of-type:hover {
  transform: scale(1.1);
}
.divVector:last-of-type.animado{
  animation: myAnimation 0.5s;
}
@keyframes myAnimation {
  0%   {background-color: var(--bg-vector-color)}
  25%  {background-color: #f25c5c;}
  50%  {background-color: var(--visitar-button-color)}
  75%  {background-color: #f25c5c;}
  100% {background-color: var(--bg-vector-color)}
}
.divVector> img {
  object-fit: contain;
  width: 20px;
}
.divVector> p {
 margin-block-start:4px;
 margin-block-end:4px;
 font-size: var(--font-size-xxxs);
}
.overlay>a {
  position: absolute;
  top: 50%;
    justify-self: center;
   align-self: center;
}
.overlay>a>button {
  padding: var(--padding-xxs) var(--padding-xs);
  background-color: var(--visitar-button-color);
  color: var(--bg-color);
  font-size: var(--font-size-m);
  justify-self: center;
  align-self: center;
  border-radius: var(--border-radius);
  border: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.overlay>a>button:hover{
transform: scale(1.1);
}
